language: python

services:
  - docker
python:
    - '3.8.5'
install:
  - make deps
script:
  - make test
  - make lint
  - make docker_build
  - make docker_push

#after_success:
  #- make docker_build
